* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 580px;
}

.programme {
  display: flex;
  width: 580px;
  height: 111px;
  margin-top: 10px;
}

img {
  width: 64px;
  height: 90px;
  border-radius: 3px;
}

h1 {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
h2 {
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
}
.hour {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
}
.hour > h1 {
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
}

li {
  color: red;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  list-style-type: disc;
}
p {
  display: flex;

  align-items: center;
}

.duree {
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
}

.description {
  margin-left: 10px;
}

.line {
  width: 580px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  /* E5E5E5, 100 % */
}
